/* -------------------------------------------------------------------------- */
/*                                   Colors                                   */
/* -------------------------------------------------------------------------- */
$green: #63baab;
$pink: #c01b4a;
$purple: #542454;
// #3c0b3d;
//  #4D148C;
$orange: #f4a261;
$blue: #1f79f6;
$black: #000000;
$white: #ffffff;
$gray: #98a2b3;

// light colors
$light-pink: #da426d;
$light-orange: #f7ba8a;
$light-purple: #6f7ab0;
$light-blue: #60a0f9;
$light-green: #abdad2;
$light-gray: #b7beca;
